# Optionnel : surcharge des valeurs par défaut du projet
# VITE_HL_REFERRAL_URL=https://app.hyperliquid.xyz/join/DOCTEUR
# VITE_AUTHOR_X_URL=https://x.com/0xDOCTEUR
# VITE_TIP_ETH=0x8271b2a500342617571dfDdD69981278d96822aa
VITE_TIP_SOL=
